body {
  font-family: Arial, sans-serif;
  color: var(--color-light);
  background-color: var(--color-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

a,
input,
button,
textarea {
  transition-duration: var(--transition-duration);
}

.button {
  color: var(--color-light);
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 10px 15px;

  &:hover {
    color: var(--color-accent);
    background-color: var(--color-light);
  }

  &:active {
    color: var(--color-dark);
    border-color: var(--color-dark);
    background-color: transparent;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.1;
}

h1,
.h1 {
  @include fluid-text(60, 43);
}

h2,
.h2 {
  @include fluid-text(40, 36);
}

h3,
.h3 {
  @include fluid-text(30, 26);
}

h4,
.h4 {
  @include fluid-text(20, 18);
}

.hide {
  display: none !important;
}
